.merlin
*.ml*.d
*.cm[ixt]*
Makefile.rocq*
.Makefile.rocq.d
Makefile.coq*
.Makefile.coq.d
*~
*.[ao]
.coqdeps.d
.rocqdeps.d
*.vo
*.vos
*.vok
*.glob
*.aux
*/*/.merlin

# by convention g_foo.ml is generated
g_*.ml

# ignore dune stuff
_build
*.opam

# ignore generated make files
CoqMakeFile*
CoqMakefile*
.CoqMakeFile.d
RocqMakeFile*
RocqMakefile*
.RocqMakeFile.d

# ignore vscode settings
.vscode

# ignore dumps
**/_dumps
src/_dump
src/commandOLDunify.ml
