.merlin
*.ml*.d
*.cm[ixt]*
Makefile.coq*
.Makefile.coq.d
*~
*.[ao]
.coqdeps.d
*.vo
*.vos
*.vok
*.glob
*.aux
*/*/.merlin

# by convention g_foo.ml is generated
g_*.ml

# ignore dune stuff
_build
*.opam

# ignore generated make files
CoqMakeFile*
CoqMakefile*
.CoqMakeFile.d

# ignore vscode settings
.vscode

# ignore dumps
**/_dumps
src/_dump
